In [1]:
!pip3 install quandl

Requirement already satisfied: quandl in c:\users\aishw\anaconda3\lib\site-packages (3.6.0)
Requirement already satisfied: inflection>=0.3.1 in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (0.5.1)
Requirement already satisfied: requests>=2.7.0 in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (2.24.0)
Requirement already satisfied: numpy>=1.8 in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (1.18.5)
Requirement already satisfied: pandas>=0.14 in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (1.0.5)
Requirement already satisfied: more-itertools in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (8.4.0)
Requirement already satisfied: python-dateutil in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (2.8.1)
Requirement already satisfied: six in c:\users\aishw\anaconda3\lib\site-packages (from quandl) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\aishw\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\aishw\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\aishw\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\aishw\anaconda3\lib\site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: pytz>=2017.2 in c:\users\aishw\anaconda3\lib\site-packages (from pandas>=0.14->quandl) (2020.1)

In [2]:
import pandas as pd
import numpy as np
import os
import quandl as quandl
import time
auth_tok='DyqJ9Yo7LyLz4ymydrno'

In [3]:
df=quandl.get("EOD/AAPL",authtoken=auth_tok)

In [4]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume
Date,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0

In [5]:
df.shape

(1090, 12)

In [6]:
#High_low_percent
df['HL_PCT']=(df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100.0

#Percent Change
df['PCT_CHANGE']=(df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100.0

In [7]:
df.head()

,Open,High,Low,Close,Volume,Dividend,Split,Adj_Open,Adj_High,Adj_Low,Adj_Close,Adj_Volume,HL_PCT,PCT_CHANGE
Date,,,,,,,,,,,,,,
2013-09-03,493.10,500.60,487.35,488.580,11854600.0,0.0,1.0,15.619650,15.857223,15.437510,15.476472,331928800.0,2.711941,-0.916650
2013-09-04,499.56,502.24,496.28,498.691,12322600.0,0.0,1.0,15.824280,15.909173,15.720381,15.796753,345032800.0,1.195129,-0.173953
2013-09-05,500.25,500.68,493.64,495.270,8441700.0,0.0,1.0,15.846136,15.859757,15.636755,15.688388,236367600.0,1.421447,-0.995502
2013-09-06,498.44,499.38,489.95,498.220,12840200.0,0.0,1.0,15.788802,15.818578,15.519869,15.781833,359525600.0,1.892738,-0.044138
2013-09-09,505.00,507.92,503.48,506.170,12167400.0,0.0,1.0,15.996600,16.089095,15.948451,16.033661,340687200.0,0.877176,0.231683

In [8]:
df.isnull().sum()

Open          0
High          0
Low           0
Close         0
Volume        0
Dividend      0
Split         0
Adj_Open      0
Adj_High      0
Adj_Low       0
Adj_Close     0
Adj_Volume    0
HL_PCT        0
PCT_CHANGE    0
dtype: int64

In [9]:
df.shape

(1090, 14)

In [10]:
# A variable for predicting 10 days out into the future
forecast_out = 10
#Create another column Future_Price shifted 10 units up
df['Future_Price'] = df[['Adj_Close']].shift(-forecast_out)
df_new=df.fillna(-99999)
print(df_new.tail(10))

              Open     High      Low   Close      Volume  Dividend  Split  \
Date
2017-12-14  172.40  173.130  171.650  172.22  20476541.0       0.0    1.0
2017-12-15  173.63  174.170  172.460  173.97  40169307.0       0.0    1.0
2017-12-18  174.88  177.200  174.860  176.42  29421114.0       0.0    1.0
2017-12-19  175.03  175.390  174.090  174.54  27436447.0       0.0    1.0
2017-12-20  174.87  175.420  173.250  174.35  23475649.0       0.0    1.0
2017-12-21  174.17  176.020  174.100  175.01  20949896.0       0.0    1.0
2017-12-22  174.68  175.424  174.500  175.01  16349444.0       0.0    1.0
2017-12-26  170.80  171.470  169.679  170.57  33185536.0       0.0    1.0
2017-12-27  170.10  170.780  169.710  170.60  21498213.0       0.0    1.0
2017-12-28  171.00  171.850  170.480  171.08  16480187.0       0.0    1.0

             Adj_Open   Adj_High    Adj_Low  Adj_Close   Adj_Volume    HL_PCT  \
Date
2017-12-14  41.473766  41.649380  41.293340  41.430464   81906164.0  0.859366
2017-12-15  41.769663  41.899570  41.488200  41.851456  160677228.0  0.982928
2017-12-18  42.070372  42.628488  42.065561  42.440845  117684456.0  1.326380
2017-12-19  42.106457  42.193061  41.880324  41.988579  109745788.0  0.744815
2017-12-20  42.067966  42.200278  41.678248  41.942872   93902596.0  1.244623
2017-12-21  41.899570  42.344619  41.882730  42.101646   83799584.0  1.097080
2017-12-22  42.022259  42.201241  41.978957  42.101646   65397776.0  0.527970
2017-12-26  41.088858  41.250038  40.819183  41.033528  132742144.0  1.050009
2017-12-27  40.920461  41.084047  40.826640  41.040745   85992852.0  0.627198
2017-12-28  41.136972  41.341454  41.011877  41.156217   65920748.0  0.800795

            PCT_CHANGE  Future_Price
Date
2017-12-14   -0.104408      -99999.0
2017-12-15    0.195819      -99999.0
2017-12-18    0.880604      -99999.0
2017-12-19   -0.279952      -99999.0
2017-12-20   -0.297364      -99999.0
2017-12-21    0.482287      -99999.0
2017-12-22    0.188917      -99999.0
2017-12-26   -0.134660      -99999.0
2017-12-27    0.293945      -99999.0
2017-12-28    0.046784      -99999.0

In [11]:
df1=df_new[['Adj_Close','Future_Price']]
df1.tail(10)

            Adj_Close  Future_Price
Date
2017-12-14  41.430464      -99999.0
2017-12-15  41.851456      -99999.0
2017-12-18  42.440845      -99999.0
2017-12-19  41.988579      -99999.0
2017-12-20  41.942872      -99999.0
2017-12-21  42.101646      -99999.0
2017-12-22  42.101646      -99999.0
2017-12-26  41.033528      -99999.0
2017-12-27  41.040745      -99999.0
2017-12-28  41.156217      -99999.0

In [12]:
x = np.array(df1.drop(['Future_Price'],1))

#Remove the last '10' rows
x = x[:-forecast_out]
print(x)

[[15.47647246]
 [15.79675289]
 [15.68838781]
 ...
 [41.5387189 ]
 [41.30536882]
 [41.44249206]]

In [13]:
y = np.array(df1['Future_Price'])
# Get all of the y values except the last '10' rows
y = y[:-forecast_out]
print(y)

[14.42291424 14.71940567 14.96078011 ... 41.03352802 41.04074503
 41.15621723]

In [14]:
# Split the data into 80% training and 20% testing
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [15]:
from sklearn.linear_model import LinearRegression  ## Algorithm 
lr = LinearRegression()
# Train the model
model_train=lr.fit(x_train, y_train)

In [37]:
p=model_train.predict(x_test)
p

array([29.98869307, 28.41896805, 27.40699311, 22.07001968, 32.76256355,
       24.76751834, 27.59767949, 26.45526584, 16.69709283, 34.44953533,
       16.14657341, 25.70477343, 30.16998458, 29.79191506, 37.91953553,
       15.58850816, 19.13098028, 29.84992028, 29.04491364, 28.15795241,
       25.77143754, 29.26070466, 25.41415277, 18.59262678, 38.48724593,
       29.59284937, 25.71927356, 34.26498583, 38.61351494, 36.96062972,
       15.52924683, 32.79095578, 29.27107004, 40.118817  , 16.99611728,
       24.98732848, 15.72531358, 22.76975358, 15.78236838, 26.55139382,
       25.91570777, 28.30476545, 26.00320485, 36.80798217, 36.93389436,
       27.08402072, 41.49754226, 19.36471738, 27.90246363, 23.11433119,
       27.60920246, 21.72691517, 15.0050362 , 34.01182176, 25.81392375,
       21.2147285 , 29.08040287, 25.42493394, 37.1991635 , 17.34647986,
       15.81641212, 17.53529966, 27.04256799, 17.09355063, 17.08749053,
       28.0603338 , 41.6866486 , 40.67221538, 23.04201595, 22.45796541,
       36.22831097, 15.25059247, 27.78204701, 28.56917724, 34.56531982,
       29.19245574, 34.9739405 , 27.54927712, 21.75132153, 30.76014423,
       34.60332659, 22.6539036 , 30.52064121, 26.24027363, 21.66825064,
       23.47782561, 20.72945339, 15.94250007, 22.34966167, 27.19570009,
       38.48247525, 29.20838049, 37.50406275, 36.8436177 , 17.30913054,
       27.26120877, 19.74190412, 17.00169234, 23.28578414, 21.07103832,
       28.6168899 , 37.13953006, 37.91476485, 34.2247635 , 16.86703993,
       26.50778357, 27.90083436, 37.53788147, 25.80270615, 33.90061885,
       17.47374186, 33.6379907 , 38.34174032, 38.00540769, 16.4824395 ,
       27.85063431, 31.33733446, 25.49917919, 16.06984889, 25.16337527,
       28.6398536 , 16.89824669, 26.38763377, 27.5863313 , 33.23576742,
       38.62798086, 31.45748426, 36.91292296, 26.25334869, 26.85913758,
       35.74366783, 40.92298134, 22.72872475, 17.6609719 , 38.1890787 ,
       21.80649899, 27.08287783, 21.44126506, 28.51264658, 19.51822656,
       29.36929958, 26.01926793, 28.38939352, 29.06318891, 24.90371028,
       17.265147  , 37.39953188, 37.68224037, 23.42141741, 28.44639875,
       23.17256114, 23.27024344, 25.12555959, 25.2094047 , 15.51064886,
       32.69394899, 21.00143839, 36.05013335, 27.84427105, 26.76457432,
       33.90771691, 16.83152859, 37.55696418, 22.73268158, 22.79755758,
       27.71965977, 24.96813775, 22.70865949, 26.78800108, 27.9283783 ,
       25.3767447 , 25.98133179, 28.67603896, 17.26897443, 23.21157892,
       17.56687595, 21.03222914, 38.38069666, 27.88208464, 17.54805776,
       16.95467105, 16.87388854, 26.42629173, 17.67460571, 28.53549066,
       21.70641835, 34.33596641, 25.06259552, 26.09696511, 21.81418599,
       20.36477541, 27.50088655, 22.70399716, 36.00499502, 25.05304491,
       22.27915844, 23.14388908, 16.82707005, 28.39484223, 27.39257063,
       33.27125771, 29.22203027, 18.42605091, 24.64352568, 25.56180681,
       23.06066526, 29.545199  , 35.75792204, 34.62946376, 29.32212868,
       27.0192264 , 20.76120636, 33.7231674 , 36.92439155, 24.349799  ,
       17.28428415])

In [16]:
lr_confidence = lr.score(x_test, y_test)
print("lr confidence: ", lr_confidence)

lr confidence:  0.9737577139732058

In [17]:
#lr_prediction = lr.predict(x_forecast)
#print(lr_prediction)
pred = model_train.predict(x_test) ## predict 20% of my data
pred

array([29.98869307, 28.41896805, 27.40699311, 22.07001968, 32.76256355,
       24.76751834, 27.59767949, 26.45526584, 16.69709283, 34.44953533,
       16.14657341, 25.70477343, 30.16998458, 29.79191506, 37.91953553,
       15.58850816, 19.13098028, 29.84992028, 29.04491364, 28.15795241,
       25.77143754, 29.26070466, 25.41415277, 18.59262678, 38.48724593,
       29.59284937, 25.71927356, 34.26498583, 38.61351494, 36.96062972,
       15.52924683, 32.79095578, 29.27107004, 40.118817  , 16.99611728,
       24.98732848, 15.72531358, 22.76975358, 15.78236838, 26.55139382,
       25.91570777, 28.30476545, 26.00320485, 36.80798217, 36.93389436,
       27.08402072, 41.49754226, 19.36471738, 27.90246363, 23.11433119,
       27.60920246, 21.72691517, 15.0050362 , 34.01182176, 25.81392375,
       21.2147285 , 29.08040287, 25.42493394, 37.1991635 , 17.34647986,
       15.81641212, 17.53529966, 27.04256799, 17.09355063, 17.08749053,
       28.0603338 , 41.6866486 , 40.67221538, 23.04201595, 22.45796541,
       36.22831097, 15.25059247, 27.78204701, 28.56917724, 34.56531982,
       29.19245574, 34.9739405 , 27.54927712, 21.75132153, 30.76014423,
       34.60332659, 22.6539036 , 30.52064121, 26.24027363, 21.66825064,
       23.47782561, 20.72945339, 15.94250007, 22.34966167, 27.19570009,
       38.48247525, 29.20838049, 37.50406275, 36.8436177 , 17.30913054,
       27.26120877, 19.74190412, 17.00169234, 23.28578414, 21.07103832,
       28.6168899 , 37.13953006, 37.91476485, 34.2247635 , 16.86703993,
       26.50778357, 27.90083436, 37.53788147, 25.80270615, 33.90061885,
       17.47374186, 33.6379907 , 38.34174032, 38.00540769, 16.4824395 ,
       27.85063431, 31.33733446, 25.49917919, 16.06984889, 25.16337527,
       28.6398536 , 16.89824669, 26.38763377, 27.5863313 , 33.23576742,
       38.62798086, 31.45748426, 36.91292296, 26.25334869, 26.85913758,
       35.74366783, 40.92298134, 22.72872475, 17.6609719 , 38.1890787 ,
       21.80649899, 27.08287783, 21.44126506, 28.51264658, 19.51822656,
       29.36929958, 26.01926793, 28.38939352, 29.06318891, 24.90371028,
       17.265147  , 37.39953188, 37.68224037, 23.42141741, 28.44639875,
       23.17256114, 23.27024344, 25.12555959, 25.2094047 , 15.51064886,
       32.69394899, 21.00143839, 36.05013335, 27.84427105, 26.76457432,
       33.90771691, 16.83152859, 37.55696418, 22.73268158, 22.79755758,
       27.71965977, 24.96813775, 22.70865949, 26.78800108, 27.9283783 ,
       25.3767447 , 25.98133179, 28.67603896, 17.26897443, 23.21157892,
       17.56687595, 21.03222914, 38.38069666, 27.88208464, 17.54805776,
       16.95467105, 16.87388854, 26.42629173, 17.67460571, 28.53549066,
       21.70641835, 34.33596641, 25.06259552, 26.09696511, 21.81418599,
       20.36477541, 27.50088655, 22.70399716, 36.00499502, 25.05304491,
       22.27915844, 23.14388908, 16.82707005, 28.39484223, 27.39257063,
       33.27125771, 29.22203027, 18.42605091, 24.64352568, 25.56180681,
       23.06066526, 29.545199  , 35.75792204, 34.62946376, 29.32212868,
       27.0192264 , 20.76120636, 33.7231674 , 36.92439155, 24.349799  ,
       17.28428415])

In [18]:
df_final = pd.DataFrame({'Actual': y_test,'Pred': pred, 'Error': y_test - pred})
df_final

        Actual       Pred     Error
0    29.296459  29.988693 -0.692234
1    28.933014  28.418968  0.514046
2    27.016736  27.406993 -0.390257
3    21.205089  22.070020 -0.864930
4    33.046431  32.762564  0.283867
..         ...        ...       ...
211  21.651914  20.761206  0.890707
212  34.154398  33.723167  0.431231
213  36.734029  36.924392 -0.190362
214  25.436144  24.349799  1.086345
215  17.281856  17.284284 -0.002428

[216 rows x 3 columns]

In [19]:
model_train.score(x_train,y_train)

0.9679343698110948

In [20]:
# Set x_forecast equal to the last 10 rows of the original data set from Adj. Close column
x_forecast = np.array(df1.drop(['Future_Price'],1))[-forecast_out:]
print(x_forecast)

[[41.43046371]
 [41.85145611]
 [42.44084548]
 [41.98857935]
 [41.94287161]
 [42.10164588]
 [42.10164588]
 [41.03352802]
 [41.04074503]
 [41.15621723]]

In [21]:
lr_prediction = lr.predict(x_forecast)
print(lr_prediction)

[41.57892124 41.99786097 42.58437658 42.13431562 42.08883073 42.24683086
 42.24683086 41.18392094 41.19110276 41.30601194]

In [22]:
from sklearn.preprocessing import StandardScaler

In [23]:
scale = StandardScaler()

In [24]:
df1['Adj_Close']

Date
2013-09-03    15.476472
2013-09-04    15.796753
2013-09-05    15.688388
2013-09-06    15.781833
2013-09-09    16.033661
                ...
2017-12-21    42.101646
2017-12-22    42.101646
2017-12-26    41.033528
2017-12-27    41.040745
2017-12-28    41.156217
Name: Adj_Close, Length: 1090, dtype: float64

In [25]:
df2=df1.reset_index()

In [26]:
df2

           Date  Adj_Close  Future_Price
0    2013-09-03  15.476472     14.422914
1    2013-09-04  15.796753     14.719406
2    2013-09-05  15.688388     14.960780
3    2013-09-06  15.781833     14.805882
4    2013-09-09  16.033661     15.541726
...         ...        ...           ...
1085 2017-12-21  42.101646 -99999.000000
1086 2017-12-22  42.101646 -99999.000000
1087 2017-12-26  41.033528 -99999.000000
1088 2017-12-27  41.040745 -99999.000000
1089 2017-12-28  41.156217 -99999.000000

[1090 rows x 3 columns]

In [31]:
t=scale.fit_transform(x)

In [32]:
t

array([[-1.66062923],
       [-1.61117497],
       [-1.62790754],
       ...,
       [ 2.36362235],
       [ 2.32759094],
       [ 2.34876404]])

In [33]:
scale.inverse_transform(t)

array([[15.47647246],
       [15.79675289],
       [15.68838781],
       ...,
       [41.5387189 ],
       [41.30536882],
       [41.44249206]])

In [34]:
from sklearn.metrics import mean_squared_error

In [39]:
a=mean_squared_error(y_test, p)
a

1.2607953650796162

In [40]:
round(a,2)

1.26